.glow-effect-red {
  animation: borderGlowPopRed 1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px solid red;
  border-radius: 25px;
}

.glow-effect-yellow {
  animation: borderGlowPopYellow 1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px solid yellow;
  border-radius: 25px;
}

.glow-effect-green {
  animation: borderGlowPopGreen 1s cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px solid green;
  border-radius: 25px;
}

/* RED */
@keyframes borderGlowPopRed {
  0% { border-width: 0px; box-shadow: 0 0 0px rgba(255, 0, 0, 0); }
  10% { border-width: 5px; box-shadow: 0 0 5px rgba(255, 0, 0, 0.3); }
  20% { border-width: 10px; box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }
  30% { border-width: 15px; box-shadow: 0 0 15px rgba(255, 0, 0, 0.6); }
  40% { border-width: 20px; box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); }
  50% { border-width: 25px; box-shadow: 0 0 25px rgba(255, 0, 0, 1); }
  60% { border-width: 20px; box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); }
  70% { border-width: 15px; box-shadow: 0 0 15px rgba(255, 0, 0, 0.6); }
  80% { border-width: 10px; box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }
  90% { border-width: 5px; box-shadow: 0 0 5px rgba(255, 0, 0, 0.3); }
  100% { border-width: 0px; box-shadow: 0 0 0px rgba(255, 0, 0, 0); }
}

/* YELLOW */
@keyframes borderGlowPopYellow {
  0% { border-width: 0px; box-shadow: 0 0 0px rgba(255, 255, 0, 0); }
  10% { border-width: 5px; box-shadow: 0 0 5px rgba(255, 255, 0, 0.3); }
  20% { border-width: 10px; box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); }
  30% { border-width: 15px; box-shadow: 0 0 15px rgba(255, 255, 0, 0.6); }
  40% { border-width: 20px; box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); }
  50% { border-width: 25px; box-shadow: 0 0 25px rgba(255, 255, 0, 1); }
  60% { border-width: 20px; box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); }
  70% { border-width: 15px; box-shadow: 0 0 15px rgba(255, 255, 0, 0.6); }
  80% { border-width: 10px; box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); }
  90% { border-width: 5px; box-shadow: 0 0 5px rgba(255, 255, 0, 0.3); }
  100% { border-width: 0px; box-shadow: 0 0 0px rgba(255, 255, 0, 0); }
}

/* GREEN */
@keyframes borderGlowPopGreen {
  0% { border-width: 0px; box-shadow: 0 0 0px rgba(0, 255, 0, 0); }
  10% { border-width: 5px; box-shadow: 0 0 5px rgba(0, 255, 0, 0.3); }
  20% { border-width: 10px; box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); }
  30% { border-width: 15px; box-shadow: 0 0 15px rgba(0, 255, 0, 0.6); }
  40% { border-width: 20px; box-shadow: 0 0 20px rgba(0, 255, 0, 0.8); }
  50% { border-width: 25px; box-shadow: 0 0 25px rgba(0, 255, 0, 1); }
  60% { border-width: 20px; box-shadow: 0 0 20px rgba(0, 255, 0, 0.8); }
  70% { border-width: 15px; box-shadow: 0 0 15px rgba(0, 255, 0, 0.6); }
  80% { border-width: 10px; box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); }
  90% { border-width: 5px; box-shadow: 0 0 5px rgba(0, 255, 0, 0.3); }
  100% { border-width: 0px; box-shadow: 0 0 0px rgba(0, 255, 0, 0); }
}
